.App{
  text-align: center;
  
}
.body{
  margin:0;
  padding:0;
}


.Logo-button{
  padding:2px;
  background-color: white;
  padding: 10px;
  margin: 0 10px;

}
.Logo-buttons{
  display: flex;
  justify-content: center;
}

